@model IEnumerable<UI.Models.GenreViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <p class="card-text" style="margin-top:10px">
                @item.Name
                @using (Html.BeginForm("Delete", "Genre", new { id = item.Id }))
                {
                    <button class="btn btn-warning">Delete</button>
                }
            </p>

        </div>
    }
</div>

<form method="POST" style="margin-top:10px">
    @Html.ActionLink("Back to Create", "Create", "Game", null, new { @class = "btn btn-warning" })
    <input type="text" id="newGenre" name="newGenre" placeholder="Enter new genre" class="form-control custom" style="width:300px" />
    <input type="submit" class="form-control custom" />
</form>
